@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 20px #aaaaaa;
}

.main-container {
  height: 100vh;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crypto-weather-container {
  display: flex;
  justify-content: space-between;
}

.time-container {
  display: flex;
  justify-content: center;
}

.crypto {
  display: flex;
  align-items: center;
}

.crypto-price {
  margin-left: .5rem;
  font-size: 1.5em;
}

.market-data {
  margin-left: 2rem;
}

